# SPDX-FileCopyrightText: 2024 Luflosi <dyndnsd@luflosi.de>
# SPDX-License-Identifier: CC0-1.0

# EditorConfig configuration for dyndnsd
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.rs]
indent_style = tab

[*.nix]
indent_size = 2
indent_style = space

[*.lock]
insert_final_newline = unset
indent_size = unset
