# SPDX-FileCopyrightText: 2024 Luflosi <dyndnsd@luflosi.de>
# SPDX-License-Identifier: CC0-1.0

name: "CI"
on:
  pull_request:
  push:
jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@86cbc893b3c44423bb3b27da33c306deba1e1ef4
      - uses: DeterminateSystems/flake-checker-action@cdd50b72fdf4dd55734c9fa47b2b98bd18e4a931
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1
        with:
          name: luflosi
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Run `nix flake check`
        run: nix flake check --all-systems -L
